*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: grey;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50vw;
    padding: 20px;
}

form div{
    display: flex;
    flex-direction: column;
    width: 300px;
}

fieldset{
    width: 300px;
    padding: 30px;
}

.new_book{
    width: 160px;
    height: 40px;
    background-color: darkred;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

.hide{
    display:none;
}