:root {
    --DARK-RED: #af293c;
    --PINK: #ffa8ad;
    --LIGHT-BLUE: #00c8ef;
    --BEIGE: #f3eed9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:var(--DARK-RED)
}

body {
    background-color: var(--BEIGE);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--PINK);
    border-radius: 5%;
    gap: 20px;
    width: min-content;
    padding: 20px;
}

form *{
    color: black;
}

form div {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: none;
}

fieldset {
    display: flex;
    gap: 10px;
    width: 300px;
    padding: 30px;
    border-color: var(--DARK-RED);
}

fieldset input {
    display: inline;
    height: 1rem;
}

.input-couple {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new_book,
.show_list {
    width: 160px;
    background-color: var(--DARK-RED);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    height: min-content;
}

.library {
    padding: 20px;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    height: clamp(min-content, 400px, 50%);
    gap: 30px;
    width: 80%;
    min-width: 340px;

}

.book_div {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    line-height: 30px;
    min-height: 300px;
    width: 300px;
    word-wrap: break-word;
    background: linear-gradient(156deg, var(--PINK) 65%, var(--LIGHT-BLUE));
    color: var(--DARK-RED);
    border-radius: 15px;
    padding: 20px;
}

.book_div .div4 {
    color: white;
}

.delete_button {
    align-self: flex-end;
    width: 30px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 50%;
}